<script type="application/ld+json">
{{ $data := dict 
  "@context" "https://schema.org"
  "@type" "Product"
  "name" .Title
  "sku" (.Params.sku | default "")
  "url" .Permalink
  "image" (.Params.image | relURL | default "")
  "description" (.Params.summary | default (.Summary | plainify))
  "brand" (dict "@type" "Brand" "name" (.Site.Params.brand | default .Site.Title))
  "offers" (dict 
    "@type" "Offer"
    "priceCurrency" "USD"
    "price" "5.5"
    "availability" "https://schema.org/InStock"
    "url" .Permalink
  )
}}
{{ $data | jsonify }}
</script>